.form-control {
    display: grid;
    gap: 5px;
    justify-items: start;

    input{
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:focus{
            border: 1px solid $pink;
        }
    }
}

